<html xmlns:th="http://www.thymeleaf.org">
    <header id="header" th:fragment="logoMenu">
        <div class="inner">
            <a href="/" class="logo">
                <span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title" th:text="#{index.title}">금융권 데이터 서비스</span>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="button" th:onclick="|location.href='@{/sign/signUp}'|" th:text="#{signUp}" data-toggle="modal" data-target="#signUp">Sign Up</a>
                    </li>
                    <li><a href="#" class="button" th:onclick="|location.href='@{/sign/signIn}'|" th:text="#{signIn}">Sign In</a></li>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>
</html>