<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/meta-fragment :: meta}"></head>
<body class="is-preload">
<div id="wrapper">
    <header id="header" th:replace="~{/fragment/logoMenu-fragment :: logoMenu}"></header>
    <nav id="menu" th:replace="~{/fragment/menu-fragment :: menu}"></nav>
    <div id="main">
        <div class="inner">
            <h1 th:text="#{signUp}">회원가입</h1>
<!--            <span class="image main"><img src="images/pic13.jpg" alt="" /></span>-->
            <form method="post" th:action th:object="${signUpForm}"> <!-- th:action을 입력하지않으면 현재 url(/add)로 method(POST)를 요청한다.-->
                <div class="row gtr-uniform">                        <!-- th:object는 빈 객체값이다. 각각의 field의 name, id 등을 넣어주기 위해, 그리고 Validation에서 튕겨나갔을시 기본 입력정보는 유지하기 위하여 사용.-->

                    <!--로그인 아이디-->
                    <div class="col-3">
                        <label class="signup-label" for="loginId" th:text="#{signUp.form.loginId}"></label>
                    </div>
                    <div class="col-9"> <!-- th:errorclass를 입력하면 해당 필드에서 error가 발생했을시 입력한 class를 추가해준다. 나같은 경우에는 border를 주기위해 새로 추가하였다.-->
                        <input class="signup-text" th:errorclass="error" type="text" name="loginId" id="loginId" th:field=*{loginId} value="" th:placeholder="#{signUp.form.loginId.placeholder}" placeholder="로그인 아이디를 입력하세요" />
                        <div class="signup-text-error" th:errors="*{loginId}"></div> <!-- th:errors를 사용하면 해당 필드에 에러가 있을시 bindingResult가 message를 해당 태그에 입력해준다!-->
                    </div>

                    <!--사용자 이름-->
                    <div class="col-3">
                        <label class="signup-label" for="userName" th:text="#{signUp.form.userName}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="text" name="userName" id="userName" th:field=*{userName} value="" th:placeholder="#{signUp.form.userName.placeholder}" placeholder="이름을 입력하세요" />
                        <div class="signup-text-error" th:errors="*{userName}"></div>
                    </div>

                    <!--비밀번호-->
                    <div class="col-3">
                        <label class="signup-label" for="password" th:text="#{signUp.form.password}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="password" name="password" id="password" th:field=*{password} value="" th:placeholder="#{signUp.form.password.placeholder}" placeholder="비밀번호를 입력하세요" />
                        <div class="signup-text-error" th:errors="*{password}"></div>
                    </div>

                    <!--비밀번호 확인-->
                    <div class="col-3">
                        <label class="signup-label" for="passwordCheck" th:text="#{signUp.form.passwordCheck}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="password" name="passwordCheck" id="passwordCheck" th:field=*{passwordCheck} value="" th:placeholder="#{signUp.form.passwordCheck.placeholder}" placeholder="비밀번호확인을 입력하세요" />
                        <div class="signup-text-error" th:errors="*{passwordCheck}"></div>
                    </div>

                    <!--이메일-->
                    <div class="col-3">
                        <label class="signup-label" for="email" th:text="#{signUp.form.email}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="text" name="email" id="email" th:field=*{email} value="" th:placeholder="#{signUp.form.email.placeholder}" placeholder="이메일을 입력하세요" />
                        <div class="signup-text-error" th:errors="*{email}"></div>
                    </div>

                    <!--전화번호-->
                    <div class="col-3">
                        <label class="signup-label" for="phone" th:text="#{signUp.form.phone}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="text" name="phone" id="phone" th:field=*{phone} value="" th:placeholder="#{signUp.form.phone.placeholder}" placeholder="전화번호를 입력하세요" />
                        <div class="signup-text-error" th:errors="*{phone}"></div>
                    </div>

                    <!--주소-->
                    <div class="col-3">
                        <label class="signup-label" for="phone" th:text="#{signUp.form.address}"></label>
                    </div>
                    <div class="col-9">
                        <input class="signup-text" th:errorclass="error" type="text" name="address" id="address" th:field=*{address} value="" th:placeholder="#{signUp.form.address.placeholder}" placeholder="클릭하여 주소를 선택하세요" />
                        <div class="signup-text-error" th:errors="*{address}"></div>
                    </div>

                    <!--성별-->
                    <div class="col-3">
                        <label class="signup-label" th:text="#{signUp.form.sex}"></label>
                    </div>

                    <div class="col-9">
                        <div th:each="sexType : ${sexTypes}" class="col-6">
                            <input type="radio" th:field="*{sex}" th:value="${sexType.name()}">
                            <label th:for="${#ids.prev('sex')}" th:text="${sexType.sex}"></label>
                        </div>
                        <div class="signup-text-error" th:errors="*{sex}"></div>
                    </div>
                </div>

                <div style="width:50%;margin:0 auto;">
                    <ul class="actions fit">
                        <li><button type="submit" class="button fit" th:text="#{signUp}">회원가입</button></li>
                        <li><button type="button" th:onclick="|location.href='/'|" class="button fit" th:text="#{goHome}">홈으로</button></li>
                    </ul>
                </div>
            </form>
        </div>

    </div>
    <footer id="footer" th:replace="~{/fragment/contactMe-fragment :: contactMe}"></footer>
</div>
<div th:replace="~{fragment/script-fragment :: script}"></div>
</body>
</html>